<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Diferenciación</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="row justify-content-end p-5">
    <div class="btn btn-outline-dark" routerLink="/estudio-caso-diferenciacion">
        <img class="img-next" src="assets/images/arrow/derecha.png"alt="...">
    </div>
</div>

<div class="feature22">
    <div class="container no-trans">
        <div class="row m-t-40 justify-content-center no-trans">
            <!-- Column -->
            <div class="card mb-3 no-trans">
              <div class="row no-gutters no-trans">
                <div class="col-md-8">
                    <div class="card-body text-center">
                      <h5 class="card-title">Texto</h5>
                      <p class="card-text texto-card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                <div class="col-md-4">
                  <img class="img-thumbnail" src="assets/images/landingpage/banner-bg.jpg" alt="...">
                </div>
                
              </div>
            </div>
          </div>
        
    </div>
  </div>


<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Texto</h2>
        <h6 class="subtitle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quis amet est? Nostrum incidunt laborum, soluta et fugiat, ducimus unde iure, nesciunt quibusdam optio numquam error quis quisquam libero sed.
        </h6>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Texto
        </h2>
        <h6 class="subtitle">
          Texto
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          href="#"
          ><span>Detalles<i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
