<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Diferenciación</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-start p-5">
            <div class="btn btn-outline-dark" routerLink="/introduccion-diferenciacion">
                <img class="img-next" src="assets/images/arrow/izquierda.png"alt="...">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-end p-5">
            <div class="btn btn-outline-dark" routerLink="/solucion-diferenciacion/1">
                <img class="img-next" src="assets/images/arrow/derecha.png"alt="...">
            </div>
        </div>
    </div>

</div>



<div class="">
  <div class="p-2">
    <div class="row m-t-40 justify-content-center">
        <div class="col-3 no-trans">
            <ul class="list-group">
                <li (click)="seleccionarOpcion(1)" [ngClass]="opcionSeleccionada == 1 ? 'opselect' : ''" class="list-group-item op">Ver Estudio de Caso</li>
                <li routerLink="/solucion-diferenciacion/1" (click)="seleccionarOpcion(2)" [ngClass]="opcionSeleccionada == 2 ? 'opselect' : ''" class="list-group-item op">Ver Algoritmo</li>
              </ul>
        </div>
        <div class="col-9 no-trans">
            <div *ngIf="opcionSeleccionada == 1" class="card mb-3 no-trans">
                <div class="row no-gutters">
                  <div class="col-12 no-trans">
                      <div class="row">
                          <div class="col-12 col-md-6 no-trans">
                            <div class="card-body text-center">
                                <p class="card-text texto-card text text-justify d">
                                    Para un estudio geológico de un yacimiento de magnetitas, una empresa geológica que obtiene vanadio como coproducto del tratamiento de titanomagnetitas, produce mensualmente 5 toneladas de este metal, donde el costo marginal es el mínimo, este costo “C” está dado por: 
                                </p>

                                <br>

                                <div class="col-md-12 no-trans">
                                    <img class="img-thumbnail" src="assets/images/analisis/18.jpg" alt="...">
                                </div>

                                <br>

                                <p class="card-text texto-card text text-justify d">
                                    Sabiendo que el costo mínimo es de 5 toneladas, Calcular la primera derivada hacia adelante, central y hacia atrás de  C(x) en: 
Xo=5               h=0,01
                                </p>

                              </div>
                          </div>
                          <div class="col-12 col-md-6 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/17.gif" alt="...">
                            <br>
                            <a target="_blank" href="http://www.rinconsolidario.org/minerales/imagenes/yacmag.gif">
                                <small >Yacimiento de magnetitas. (s. f.). [Ilustración]. rinconsolidario.org. http://www.rinconsolidario.org/minerales/imagenes/yacmag.gif</small>
                            </a>
                            
                        </div>
                      </div>
                    
                  </div>
                </div>
              </div>
              <div *ngIf="opcionSeleccionada == 2" class="card mb-3 no-trans">
                <div class="row no-gutters">
                  <div class="col-10 no-trans">
                    <div class="card-body text-center">
                      <h5 class="card-title title">Algoritmo</h5>
                      <p class="card-text texto-card text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                      <button class="btn btn-primary">Ver mas</button>
                    </div>
                  </div>
                  <div class="col-2 no-trans">
                    <a href="assets/images/arrow/izquierda.png" download="algoritmo">
                        <div href="assets/images/arrow/izquierda.png" class="btn btn-outline-success">
                            <img class="img-next" src="assets/images/normal/excel.png"alt="...">
                        </div>
                    </a> 
                    
                  </div>
                </div>
              </div>
        </div>
        <!-- Column -->
    </div>
  </div>
</div>