<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Diferenciación</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-start p-5">
            <div class="btn btn-outline-dark" routerLink="/estudio-caso-diferenciacion">
                <img class="img-next" src="assets/images/arrow/izquierda.png"alt="...">
            </div>
        </div>
    </div>
    <div class="col">
    </div>

</div>

<div class="row justify-content-center">
    <button (click)="seleccionarOpcion(1)" class="btn btn-lg btn-primary mr-4">PSEUDOCÓDIGO</button>
    <button (click)="seleccionarOpcion(2)" class="btn btn-lg btn-primary">ALGORITMO</button>
</div>

<div class="">
    <div class="p-2">
      <div class="row m-t-40 justify-content-center">
          <div class="col-12 no-trans">
              <div *ngIf="opcionSeleccionada == 1" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-12 no-trans">
                        <div class="row">
                            <div class="col-12 col-md-12 no-trans">
                              <div class="card-body m">
                                  <h5 class="card-title title t">Pseudocódigo</h5>
                                  <br>
                                  <p class="card-text texto-card text-start text d">
                                    1.	Inicio.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        2.	Indicar variable: x.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        3.	Indicar Función.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        4.	Solicitar la introducción de los valores distintos: x0 y h.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        5.	Leer los dos valores.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        6.	Asignamos formula para derivada primera hacia adelante, en AD.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        7.	Asignamos fórmula para derivada primera hacia atrás, en AT.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        8.	Asignamos fórmula para derivada primera centrales, en AC.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                    9.	Escribir los respectivos resultados en matriz.
                                    </p>

                                    <p class="card-text texto-card text-start text d">
                                        10.	Mostrar resultados finales.
                                    </p>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                <div *ngIf="opcionSeleccionada == 2" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-12 no-trans">
                      <div class="card-body text-center">
                        <h5 class="card-title title t">Algoritmo en matlab</h5>
                        <br>
                        <div class="row no-trans">
                            <div class="col-md-11 no-trans">
                                <img class="img-thumbnail" src="assets/images/analisis/22.PNG" alt="...">
                                <a class="ml-1" href="assets/doc/general.m" download="algoritmo.m">
                                    <div href="assets/doc/general.m" class="btn btn-outline-primary">
                                        <img class="img-next" src="assets/images/normal/descargar.png"alt="...">
                                    </div>
                                </a> 
                            </div>
                            <div class="col-md-1 no-trans">
                                
                                
                              </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <!-- Column -->
      </div>
    </div>
  </div>