<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Integración</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-start p-5">
            <div class="btn btn-outline-dark" routerLink="/introduccion-integracion">
                <img class="img-next" src="assets/images/arrow/izquierda.png"alt="...">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-end p-5">
            <div class="btn btn-outline-dark" routerLink="/solucion-integracion/2">
                <img class="img-next" src="assets/images/arrow/derecha.png"alt="...">
            </div>
        </div>
    </div>

</div>



<div class="">
  <div class="p-2">
    <div class="row m-t-40 justify-content-center">
        <div class="col-3 no-trans">
            <ul class="list-group">
                <li (click)="seleccionarOpcion(1)" [ngClass]="opcionSeleccionada == 1 ? 'opselect' : ''" class="list-group-item op">Ver Estudio de Caso</li>
                <li routerLink="/solucion-integracion/2" [ngClass]="opcionSeleccionada == 2 ? 'opselect' : ''" class="list-group-item op">Ver Algoritmo</li>
              </ul>
        </div>
        <div class="col-9 no-trans">
            <div *ngIf="opcionSeleccionada == 1" class="card mb-3 no-trans">
                <div class="row no-gutters">
                  <div class="col-12 no-trans">
                      <div class="row">
                          <div class="col-12 col-md-6 no-trans">
                            <div class="card-body text-center">
                                <p class="card-text texto-card text d text-justify">
                                    Un Estudio de Suelo, también conocido como Estudio Geotécnico, es un conjunto de actividades que nos permiten obtener la información de un determinado terreno.
                                </p>

                                <p class="card-text texto-card text d text-justify">
                                    <b>“El estudio geotécnico se realiza previamente al proyecto de un edificio y tiene por objeto determinar la naturaleza y propiedades del terreno, necesarios para definir el tipo y condiciones de cimentación” (Rodríguez Ortiz y otros, 1984)."</b>
                                </p>

                                <p class="card-text texto-card text d text-justify">
                                    En resumen podríamos decir que lo más recomendable es construir sobre un suelo resistente que cumpla todas (o la mayoría) de las condiciones descritas  de la siguiente tabla. 
                                </p>

                                
                              </div>
                          </div>
                          <div class="col-12 col-md-6 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/19.jpg" alt="...">
                            
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 no-trans">
                          <div class="card-body text-center">
                              <p class="card-text texto-card text d text-justify">
                                En dado caso, se intentará evadir lo más que se pueda el suelo malo que evite las consecuencias en lo que respecta al proyecto y que este no se vaya a pérdidas por terreno no apto. 
                              </p> 
                              <p class="card-text texto-card text d text-justify">
                                Se hace un estudio de suelos en una área donde se quiere realizar una obra, en esta se busca hallar un terreno aceptable aproximado para empezar la construcción del mismo. Los valores de las mediciones realizadas se obtuvieron en distancias de 4 km. 
                              </p>  
                              <br>

                              <div class="col-md-12 no-trans">
                                  <img class="img-thumbnail" src="assets/images/analisis/21.jpg" alt="...">
                                  <br>

                              </div>

                              <br>  
                               
                                           
                            </div>
                        </div>
                        <div class="col-12 col-md-6 no-trans">
                          <img class="img-thumbnail" src="assets/images/analisis/20.jpg" alt="...">
                          <a target="_blank" href="https://rennovaingeniería.com/wp-content/uploads/elementor/thumbs/perf14-p1cyztr0j30bjz2t5jdvnv8i6dbgpvaaoycyw49tug.jpeg">
                            <small >https://rennovaingeniería.com/wp-content/uploads/elementor/thumbs/perf14-p1cyztr0j30bjz2t5jdvnv8i6dbgpvaaoycyw49tug.jpeg     </small>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-trans">
                            <p class="card-text texto-card text d text-justify">
                                Con la siguiente ecuación de Simpson, encontrar el aproximado de área total no apta para la construcción.
                            </p> 
                        </div>
                        <br>       
                            <div class="col-md-12 no-trans">
                                <img class="img-thumbnail" src="assets/images/analisis/23.jpg" alt="...">
                            </div> 
                    </div>
                    
                  </div>
                </div>
              </div>
              <div *ngIf="opcionSeleccionada == 2" class="card mb-3 no-trans">
                <div class="row no-gutters">
                  <div class="col-10 no-trans">
                    <div class="card-body text-center">
                      <h5 class="card-title title">Algoritmo</h5>
                      <p class="card-text texto-card text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                      <button class="btn btn-primary">Ver mas</button>
                    </div>
                  </div>
                  <div class="col-2 no-trans">
                    <a href="assets/doc/ANALISIS-FINAL.xlsx" download="algoritmo">
                        <div href="assets/doc/ANALISIS-FINAL.xlsx" class="btn btn-outline-success">
                            <img class="img-next" src="assets/images/normal/excel.png"alt="...">
                        </div>
                    </a> 
                    
                  </div>
                </div>
              </div>
        </div>
        <!-- Column -->
    </div>
  </div>
</div>