<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link option" routerLink="/">
                Inicio
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link option" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Diferenciación
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/introduccion-diferenciacion">Introducción</a>
                  <a class="dropdown-item" routerLink="/estudio-caso-diferenciacion">Estudio de Caso</a>
                  <a class="dropdown-item" routerLink="/solucion-diferenciacion/1">Solución</a>
                </div>
              </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <div class="dropdown">
                <a class="nav-link option" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Integración
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"  routerLink="/introduccion-integracion">Introducción</a>
                  <a class="dropdown-item"  routerLink="/estudio-caso-integracion" href="#">Estudio de Caso</a>
                  <a class="dropdown-item"  routerLink="/solucion-integracion/2" href="#">Solución</a>
                </div>
              </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link option" routerLink="/referencias">
                Referencias
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class=" btn btn-accion option nav-link" routerLink="/solucion">
                Solución
            </a>
        </li>
    </ul>

</div>