<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Integración</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-start p-5">
            <div class="btn btn-outline-dark" routerLink="/estudio-caso-integracion">
                <img class="img-next" src="assets/images/arrow/izquierda.png"alt="...">
            </div>
        </div>
    </div>
    <div class="col">
    </div>

</div>

<div class="row justify-content-center">
</div>

<div class="">
    <div class="p-2">
      <div class="row m-t-40 justify-content-center">
          <div class="col-12 no-trans">
              <div *ngIf="opcionSeleccionada == 1" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-12 no-trans">
                        <div class="row">
                            <div class="col-12 col-md-6 no-trans">
                              <div class="card-body text-center">
                                  <h5 class="card-title title">Infografia</h5>
                                  <p class="card-text texto-card text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                                  <button class="btn btn-primary">Ver mas</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 no-trans">
                              <img class="img-thumbnail" src="assets/images/landingpage/banner-bg.jpg" alt="...">
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                <div *ngIf="opcionSeleccionada == 2" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-10 no-trans">
                      <div class="card-body text-center">
                        <h5 class="card-title title t">Algoritmo en Excel</h5>

                        <p class="card-text texto-card text-start text d">
                            Definir parámetros para la integral del área, junto a la función f(x) que será la resta en el eje y de cada xn 
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/26.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify d">
                            Luego de obtener la integral, ubicarse en el método de integración que más se acomode a nuestra preferencia, escogiendo en este caso el método de simpson ⅓
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/28.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            Calcular con la ayuda de excel la diferencia entre las Y registradas.
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/31.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            Reemplazar en la fórmula de simpson, según el intervalo par e impar las condiciones que en esta rijan
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/24.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            Sumar el resultado de cada una de los intervalos hasta unificarlo
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/30.jpg" alt="...">
                        </div>

                        <br>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/27.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            Convertir de km2 a m^2, esto para asemejarse a las unidades manejadas por área
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/25.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            Resultado : 
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/32.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify text d">
                            A continuación, se añade una página donde se encuentran los algoritmos planteados de manera general en MATLAB con los métodos de integración previamente visualizados.
                        </p>
                        <a target="_blank" href="https://github.com/MiguelAngelHFlores/Integracion-numerica-Matlab/tree/master/Codigos_integrales" class="card-text texto-card text">
                            httas://github.com/MiguelAngelHFlores/Integracion-numerica-Matlab/tree/master/Codigos_integrales
                        </a>
                      </div>a                    </div>
                    <div class="col-2 no-trans">
                        <a href="assets/doc/ANALISIS-FINAL.xlsx" download="algoritmo">
                            <div href="assets/doc/ANALISIS-FINAL.xlsx" class="btn btn-outline-success">
                                <img class="img-next" src="assets/images/normal/excel.png"alt="...">
                            </div>
                        </a> 
                        
                      </div>
                  </div>
                </div>
          </div>
          <!-- Column -->
      </div>
    </div>
  </div>