<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Integración</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-start p-5">
            <div class="btn btn-outline-dark" routerLink="/estudio-caso-integracion">
                <img class="img-next" src="assets/images/arrow/izquierda.png"alt="...">
            </div>
        </div>
    </div>
    <div class="col">
    </div>

</div>

<div class="row justify-content-center">
    <button (click)="seleccionarOpcion(1)" class="btn btn-lg btn-primary mr-4">PSEUDOCÓDIGO</button>
    <button (click)="seleccionarOpcion(2)" class="btn btn-lg btn-primary">ALGORITMO</button>
</div>

<div class="">
    <div class="p-2">
      <div class="row m-t-40 justify-content-center">
          <div class="col-12 no-trans">
              <div *ngIf="opcionSeleccionada == 1" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-12 no-trans">
                        <div class="row">
                            <div class="col-12 col-md-6 no-trans">
                              <div class="card-body text-center">
                                  <h5 class="card-title title">Infografia</h5>
                                  <p class="card-text texto-card text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                                  <button class="btn btn-primary">Ver mas</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 no-trans">
                              <img class="img-thumbnail" src="assets/images/landingpage/banner-bg.jpg" alt="...">
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                <div *ngIf="opcionSeleccionada == 2" class="card mb-3 no-trans">
                  <div class="row no-gutters">
                    <div class="col-12 no-trans">
                      <div class="card-body text-center">
                        <h5 class="card-title title">Algoritmo</h5>
                        <p class="card-text texto-card text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
                        <button class="btn btn-primary">Ver mas</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <!-- Column -->
      </div>
    </div>
  </div>