<div
  class="static-slider-head fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Análisis Numérico</h1>
        <h5 class="subtitle  blanco">
          Fundación Universitaria del Área Andina
        </h5>
        <br>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class=" spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center">
      <h6 class="subtitle text-d text-justify">
        Diferenciación e integración utilizando análisis numérico mediante herramientas de softwares computacionales para la obtención de datos empleando métodos tanto simples, como sofisticados para una fácil comprensión y/o aplicación en la ingeniería para la resolución de casos particulares e hipotéticamente reales.
      </h6>
    </div>
    <!-- Column -->
  </div>
</div>

<div class="row no-gutters d-flex justify-content-between no-trans ">
  <div class="col-md-6 p-3 no-trans">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/uzwUNHUIhXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
  <div class="col-md-6 p-3 no-trans">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/rRqR3BbXinc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>
</div>

<div class="row p-5">
  <div class="col-12">
    <div class="row justify-content-end">
      <br>
      <span class="d">Diseñado por:</span>
      
      <br>
Camelo Rafael 
<br>
Molina Karen 
<br>
Ramos Elina 
<br>
Palmera Mariely
<br> 
Rodríguez Carlos
    </div>
  </div>
</div>
