<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Diferenciación</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="row justify-content-end p-5">
    <div class="btn btn-outline-dark" routerLink="/estudio-caso-diferenciacion">
        <img class="img-next" src="assets/images/arrow/derecha.png"alt="...">
    </div>
</div>

<div class="feature22">
    <div class="container no-trans">
        <div class="row m-t-40 justify-content-center no-trans">
            <!-- Column -->
            <div class="card mb-3 no-trans">
              <div class="row no-gutters no-trans">
                <div class="col-md-12 no-trans">
                    <div class="card-body text-center">
                      <h5 class="card-title t">Introducción</h5>
                      <br>
                      <p class="card-text texto-card text-justify d">
                        La diferenciación numérica es una técnica de análisis numérico utilizada para calcular una aproximación de la derivada de una función en un punto utilizando el valor y las propiedades de la función.
                     </p>
                     <p class="card-text texto-card text-justify d">
                        Por definición la derivada de una función f(x) es:
                     </p>

                     <div class="col-md-12 no-trans">
                        <img class="img-thumbnail" src="assets/images/analisis/16.PNG" alt="...">
                    </div>

                     
                     <p class="card-text texto-card text-justify d">
                        Dónde h se toma con un valor muy pequeño.
                     </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        
    </div>
  </div>
