<div class="row m-t-40 justify-content-center">
  <!-- Column -->
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="img-thumbnail" src="assets/images/landingpage/banner-bg.jpg" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h5 class="card-title">Texto</h5>
          <p class="card-text texto-card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, voluptate. Dolore placeat beatae veritatis pariatur molestias velit, fugiat cumque, corrupti tenetur voluptate ea quidem atque id rem accusamus sunt iusto.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
