.topbar-new{
    padding: 20px;
}

.proyecto{
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.barra{
    height: 58px !important;
    padding: 0.5rem !important;
}
