<div
  class="banner-innerpage fondo"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Integración</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="row justify-content-end p-5">
    <div class="btn btn-outline-dark" routerLink="/estudio-caso-integracion">
        <img class="img-next" src="assets/images/arrow/derecha.png"alt="...">
    </div>
</div>

<div class="feature22">
    <div class="container no-trans">
        <div class="row m-t-40 justify-content-center no-trans">
            <!-- Column -->
            <div class="card mb-3 no-trans">
              <div class="row no-gutters no-trans">
                <div class="col-md-12 no-trans">
                    <div class="card-body text-center">
                        <h5 class="card-title t">Introducción</h5>
                        <br>
                      <p class="card-text texto-card text-justify d">
                          Muchos valores de interés para las ciencias se expresan a través de integrales, y algunas de esas integrales son difíciles de resolver analíticamente. Esto puede deberse a la complejidad de la función a integrar, o al dominio de integración o a ambos.
                       </p>
                        <p  class="card-text texto-card text-justify d">
                            Existen dos posibles pasos a seguir si no se puede llegar a una solución analítica de alguna integral.
                        </p>
                        <p  class="card-text texto-card text-justify d">
                            1. Hacer algunas aproximaciones, haciendo algún parámetro pequeño, análisis asintótico, etc.
                        </p>
                        <p  class="card-text texto-card text-justify d"> 
                            2. Hacer la integración numérica
                        </p>
                        <p  class="card-text texto-card text-justify d ">
                            En esta ocasión, abordaremos la integración numérica:
                        </p>
                        <p  class="card-text texto-card text-justify d">
                            Integración Numérica:
                            Es una herramienta de las matemáticas que proporciona fórmulas y técnicas para calcular aproximaciones de integrales definidas. Gracias a ella se pueden calcular, aunque sea de forma aproximada, valores de integrales definidas que no pueden calcularse analíticamente o resultan muy complicadas.
                        </p>
                        <h5 class="card-title t">Metodo de Integración</h5>

                        <p class="card-text texto-card text-left s">Regla del trapecio </p>

                        <p class="card-text texto-card text-justify d">
                            La regla del trapecio es uno de los métodos más utilizados para calcular aproximaciones numéricas de integrales definidas. Es la primera de las fórmulas cerradas de integración de  Newton – Cotes, para el caso cuando el polinomio interpolante es de grado uno.
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/15.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-left s">Regla de Simpson </p>

                        <p class="card-text texto-card text-justify d">
                            La regla de Simpson es un método de integración numérica. En otras palabras, es la aproximación numérica de integrales definidas.
                        </p>

                        <p class="card-text texto-card text-left s">Regla de Simpson ⅓</p>

                        <p class="card-text texto-card text-justify d"> Es un método que calcula una integral definida al calcular el área, cuando el intervalo, por ejemplo  [a, b] se divide en n subintervalo, y n es un número par, la regla compuesta de Simpson se calcula con la siguiente fórmula: </p>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/13.PNG" alt="...">
                        </div>

                        <p class="card-text texto-card text-left s">Regla de Simpson 3/8</p>

                        <p class="card-text texto-card text-justify d">
                            La regla de 3/8 de Simpson es similar a la regla de 1/3 de Simpson, con la única diferencia de que, para la regla de 3/8, el interpolante es un polinomio cúbico. Aunque la regla de 3/8 utiliza un valor de función más, es aproximadamente dos veces más precisa que la regla de 1/3.
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/11.jpg" alt="...">
                        </div>

                        <br>

                        <p class="card-text texto-card text-justify d">
                            La regla de 3/8 de Simpson para n intervalos (n debería ser un múltiplo de 3):
                        </p>

                        <br>

                        <div class="col-md-12 no-trans">
                            <img class="img-thumbnail" src="assets/images/analisis/12.jpg" alt="...">
                        </div>
                        
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
        
    </div>
  </div>
